<div class="p-4">
  <span class="component-title">{{ title }}</span>
  <p *ngIf="!lineitem">Loading...</p>
  <div *ngIf="lineitem">
    <main class="single">
      <table class="table table-sm">
        <tr><td>Request ID:</td><td><input [(ngModel)]="lineitem.request" type="number" /></td></tr>
        <tr><td>Product ID:</td><td><input [(ngModel)]="lineitem.product" type="number" /></td></tr>
        <tr><td>Quantity:</td><td><input [(ngModel)]="lineitem.quantity" type="number" /></td></tr>
      </table>
    </main>
    <button (click)="save()" class="btn btn-sm btn-primary">Save</button>
  </div>
</div>
