<div class="p-4">
  <h1>[{{ title }}]</h1>
  <a [routerLink]="['/line-item-list']">← Return to List</a>
  <p *ngIf="!lineitem">Loading...</p>

  <div *ngIf="lineitem && lineitem.request && lineitem.product">
    <table>
      <tr>
        <td>Request:</td>
        <td>{{ lineitem.request.description }}</td> <!-- read-only -->
      </tr>
      <tr>
        <td>Product:</td>
        <td>
          <select [(ngModel)]="lineitem.product" [ngModelOptions]="{ standalone: true }">
            <option *ngFor="let p of products" [ngValue]="p">{{ p.name }}</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Quantity:</td>
        <td>
          <input type="number" [(ngModel)]="lineitem.quantity" />
        </td>
      </tr>
    </table>
    <button (click)="save()">Save</button>
  </div>
</div>
